<h1>Welcome to my homepage!</h1>
<p>Please enjoy yourself!</p>

<%= form_tag("/sms/send", method: "post") do %>
  <%= label_tag(:q, "Send to") %>
  <%= text_field_tag(:q) %>
  <br/>
  <%= label_tag(:q, "Text body") %>
  <%= text_field_tag(:q) %>
  <br/>
  <%= submit_tag "Send" %>
<% end %>
