<!DOCTYPE html>
<html>
  <head>
    <title>SmsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <p1><br/></p1>
    <p1><%= params[:num]%></p1>
    <p1><br/></p1>
    <p1><%= params[:text]%></p1>
  </body>
</html>
